---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'LunaZ — Terapias del Alma',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={
      [
        {
  variant: 'primary',
           text: 'Contáctanos',
           href: 'https://api.whatsapp.com/send?phone=593963345577',
           target: '_blank',
           icon: 'tabler:brand-whatsapp',
        }
      ]
    }
    image={{ src: '~/assets/images/healing_hands_moon_powers.png', alt: 'Moon Hero Image' }}
  >
    <Fragment slot="title">
      LunaZ <span class="hidden xl:inline"> es un metodo alternativo </span> para mejorar tu
      <span class="text-accent dark:text-white highlight"> Vida </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">LunaZ</span> es un método alternativo que ayuda a mejorar la salud física, mental, emocional, espiritual, dando una mejor calidad de vida.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="servicios"
    tagline="LunaZ"
    title="Te ofrece los siguientes servicios:"
    subtitle=""
    items={[
      {
        title: 'Chacra',
        description:
          'Te ayudamos a lograr un equilibro integral de tu chacra',
        icon: 'tabler:analyze-filled',
      },
      {
        title: 'Superación de Adicciones',
        description:
          'Con nuestro método profesional te ayudamos a superar cualquier tipo de adicción',
        icon: 'tabler:smoking-no',
      },
      {
        title: 'Problemas de Desamor',
        description:
          'Abandono, falta de atención, rechazo, humillaciones, abuso, patrones familiares. Relaciones que no funcionan. Si el amor en pareja no es lo tuyo.',
        icon: 'tabler:heart-broken',
      },
      {
        title: 'Problemas de rechazo',
        description:
          'Rechazo en la familia, de pareja, en tu trabajo? LunaZ te ayudaa a superar, sanar y liberar',
        icon: 'tabler:alert-hexagon-filled',
      },
      {
        title: 'Resolución de inseguridad y miedos',
        description:
          "",
        icon: 'tabler:mood-check',
      },
      {
        title: 'Casos de humillaciones y abuso',
        description:
          '',
        icon: 'tabler:mood-up',
      },
      {
        title: 'Depreciación y ansiedad',
        description:
          'Depreciación, ansiedad, stress, Lunaz te apoya con terapias de Energía Universal 888 Pleyadiana, e Hipnosis Reparadora',
        icon: 'tabler:mood-confuzed-filled',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="LunaZ"
    title="LunaZ es terapia para el alma"
    items={[
      {
        title: 'Misión',
        description:
          'Somos la mano de apoyo a la humanidad, los liberamos de pactos, brujería, depresiones, ansiedad, malas relaciones, ayudamos a sanar, tu cuerpo, tus emociones, a crear una vida en abundancia, a vivir en excelenciai.',
      },
      {
        title: 'Visión',
        description:
          'Ayudar a la humanidad a vivir en armonía, en amor incondicional, cuidando lo que pensamos lo que decimos y lo que hacemos, obteniendo una sociedad creadora de la vida que desea, sin dañar al otro!',
      },
    ]}
    image={{
      src: '~/assets/images/moon_helping_humanity_522x522.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contáctanos',
        href: 'https://api.whatsapp.com/send?phone=593963345577',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
     <span class="sm:whitespace-nowrap">LunaZ es Terapia para el Alma</span>
    </Fragment>

    <Fragment slot="subtitle">
      No dejes para mañana la sanación que puedes recibir hoy.  <br class="hidden md:inline" />
      No esperes más!
    </Fragment>
  </CallToAction>
</Layout>
